<h1>Project: EDA CMS</h1>
<h2> by Luis Alarcon</h2>

<h7><b>Disclaimer</b></h7>
<h7><p>I endeavour in this project out of my own volition. It is the first time that I come in contact with this data. I carry no bias before carrying this Exploratory Data Analysis, and the primary goal is to further my knowledge in the methods as well as an understanding of different areas through data analysis.</h3>

<h3>Introduction</h3>

<h4>Dataset: General Information</h4>

<p>The full name of the data set is "Inpatient Prospective Payment System (IPPS) Provider Summary for the Top 100 Diagnosis-Related Groups (DRG) - FY2011". It is own and updated by CMS.</p>

<p>The last update was on May 29, 2014, and the metadata was updated on August 30, 2017. For access to the data set as well as further information, please go to this <a href="https://data.cms.gov/Medicare-Inpatient/Inpatient-Prospective-Payment-System-IPPS-Provider/97k6-zzx3">link</a>.</p>

<h4>Dataset: Contents</h4>

<p>The Dataset has 12 columns. These are the names and the description of them:</p>
<h7><b>This information it is copied straight from the pdf attachment found in this <a href = "https://data.cms.gov/api/views/97k6-zzx3/files/4496fc4f-5f10-43e4-8183-b6da867f8981?download=true&filename=Medicare_Hospital_Inpatient_PUF_Methodology_2017-08-30.pdf">link</a>.</b></h7>
<ol>

<li><b>DRG Definition</b></li>
    The code and description identifying the MS-DRG. MS-DRGs are a classification system that groups similar clinical conditions (diagnoses) and the procedures furnished by the hospital during the stay.
<li><b>Provider Id</b></li>
    The CMS Certification Number (CCN) assigned to the Medicare certified hospital facility.
<li><b>Provider Name</b></li>
    The name of the provider.
<li><b>Provider Street Address</b></li>
    The provider’s street address.
<li><b>Provider City</b></li>
    The city where the provider is located.
<li><b>Provider State</b></li>
    The state where the provider is located.
<li><b>Provider Zip Code</b></li>
    The provider’s zip code.
<li><b>Provider HRR</b></li>
    The Hospital Referral Region (HRR) where the provider is located.
<li><b>Total Discharges</b></li>
    The number of discharges billed by the provider for inpatient hospital services.
<li><b>Average Covered Charges</b></li>
    The provider's average charge for services covered by Medicare for all discharges in the MS-DRG. These will vary from hospital to hospital because of differences in hospital charge structures.
<li><b>Average Total Payments</b></li>
    The average total payments to all providers for the MS-DRG including the MS-DRG amount, teaching, disproportionate share, capital, and outlier payments for all cases. Also included in average total payments are co-payment and deductible amounts that the patient is responsible for and any additional payments by third parties for coordination of benefits.
<li><b>Average Medicare Payments</b></li>
    The average amount that Medicare pays to the provider for Medicare's share of the MS-DRG. Average Medicare payment amounts include the MS-DRG amount, teaching, disproportionate share, capital, and outlier payments for all cases. Medicare payments DO NOT include beneficiary co-payments and deductible amounts norany additional payments from third parties for coordination of benefits. Note: In general, Medicare FFS claims with dates-of-service or dates-of-discharge on or after April 1, 2013, incurred a 2 percent reduction in Medicare payment. This is in response to mandatory across-the-board reductions in Federal spending, also known as sequestration. For additional information, <a href= "http://www.cms.gov/Outreach-and-Education/Outreach/FFSProvPartProg/Downloads/2013-03-08-standalone.pdf">visit</a>. 
</ol>

<h4>Hypothesis</h4>

<h4>Intentions</h4>

<h3>Exploratory Data Analysis</h3>

<h4>EDA: Initial Data Exploration</h4>

<p>Firstly, we load the packages that we are going to use in this project.</p>

In [1]:
#Import of pakcages used in the project
import pandas as pd #Pandas are really useful for fast dataframe analysis
import numpy as np
import glob
import requests
import os

<p>Secondly, we load the dataset from its original location to the data frame df_cms.</p>

In [2]:
#Gathering data

#URL where the dataset can be found
url = "https://data.cms.gov/api/views/97k6-zzx3/rows.csv?accessType=DOWNLOAD"

#Loading the Dataset into a dataframe from url
df_cms = pd.read_csv(url)

In [3]:
#Example of the data loaded, including the structure
df_cms.head(2)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71

<p>Before we continue, we check if there are any null values within the data frame df_cms.</p>

In [4]:
#Check for null values
df_cms.isnull().values.any()

False

<p>Afterwards, we check the number of entries present in this dataset.</p>

In [5]:
df_cms["DRG Definition"].describe()

count                                     163065
unique                                       100
top       194 - SIMPLE PNEUMONIA & PLEURISY W CC
freq                                        3023
Name: DRG Definition, dtype: object

<p>The number of entries is 163065. The number of entries is significant. Therefore, We proceed to analyse the following columns:</p>
<ul>
<li>DRG Definition.</li>
<li>Provider State.</li>
<li>Provider City.</li>
<li>Hospital Referral Region Description.</li>
</ul>
<p>This initial analysis of the columns could aid in grouping the data into a more manageable size.</p>

In [6]:
#Count of Unique values within DRG Definition
df_cms["DRG Definition"].value_counts()

194 - SIMPLE PNEUMONIA & PLEURISY W CC                                        3023
690 - KIDNEY & URINARY TRACT INFECTIONS W/O MCC                               2989
292 - HEART FAILURE & SHOCK W CC                                              2953
392 - ESOPHAGITIS, GASTROENT & MISC DIGEST DISORDERS W/O MCC                  2950
641 - MISC DISORDERS OF NUTRITION,METABOLISM,FLUIDS/ELECTROLYTES W/O MCC      2899
871 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ HOURS W MCC                      2812
603 - CELLULITIS W/O MCC                                                      2807
470 - MAJOR JOINT REPLACEMENT OR REATTACHMENT OF LOWER EXTREMITY W/O MCC      2750
191 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W CC                              2720
190 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W MCC                             2713
291 - HEART FAILURE & SHOCK W MCC                                             2687
192 - CHRONIC OBSTRUCTIVE PULMONARY DISEASE W/O CC/MCC                        2671
195 - SIMPLE PNEUMONIA & PLEURISY W/O CC/MCC                                  2576
193 - SIMPLE PNEUMONIA & PLEURISY W MCC                                       2575
378 - G.I. HEMORRHAGE W CC                                                    2562
293 - HEART FAILURE & SHOCK W/O CC/MCC                                        2514
683 - RENAL FAILURE W CC                                                      2508
872 - SEPTICEMIA OR SEVERE SEPSIS W/O MV 96+ HOURS W/O MCC                    2505
310 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W/O CC/MCC                    2403
309 - CARDIAC ARRHYTHMIA & CONDUCTION DISORDERS W CC                          2363
812 - RED BLOOD CELL DISORDERS W/O MCC                                        2321
312 - SYNCOPE & COLLAPSE                                                      2288
065 - INTRACRANIAL HEMORRHAGE OR CEREBRAL INFARCTION W CC                     2269
313 - CHEST PAIN                                                              2230
682 - RENAL FAILURE W MCC                                                     2144
189 - PULMONARY EDEMA & RESPIRATORY FAILURE                                   2096
481 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W CC                          2090
208 - RESPIRATORY SYSTEM DIAGNOSIS W VENTILATOR SUPPORT <96 HOURS             1993
069 - TRANSIENT ISCHEMIA                                                      1962
178 - RESPIRATORY INFECTIONS & INFLAMMATIONS W CC                             1953
                                                                              ...
039 - EXTRACRANIAL PROCEDURES W/O CC/MCC                                      1079
244 - PERMANENT CARDIAC PACEMAKER IMPLANT W/O CC/MCC                          1075
238 - MAJOR CARDIOVASC PROCEDURES W/O MCC                                     1054
482 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W/O CC/MCC                    1040
684 - RENAL FAILURE W/O CC/MCC                                                1008
149 - DYSEQUILIBRIUM                                                           988
563 - FX, SPRN, STRN & DISL EXCEPT FEMUR, HIP, PELVIS & THIGH W/O MCC          984
074 - CRANIAL & PERIPHERAL NERVE DISORDERS W/O MCC                             979
491 - BACK & NECK PROC EXC SPINAL FUSION W/O CC/MCC                            975
418 - LAPAROSCOPIC CHOLECYSTECTOMY W/O C.D.E. W CC                             959
439 - DISORDERS OF PANCREAS EXCEPT MALIGNANCY W CC                             955
249 - PERC CARDIOVASC PROC W NON-DRUG-ELUTING STENT W/O MCC                    955
602 - CELLULITIS W MCC                                                         945
870 - SEPTICEMIA OR SEVERE SEPSIS W MV 96+ HOURS                               939
469 - MAJOR JOINT REPLACEMENT OR REATTACHMENT OF LOWER EXTREMITY W MCC         932
480 - HIP & FEMUR PROCEDURES EXCEPT MAJOR JOINT W MCC                          929
699 - OTHER KIDNEY & URINARY TRACT DIAGNOSES W CC                              920
254 - OTHER VASCULAR PROCEDURES W/O CC/MCC                                     920
246 - PERC CARDIOVASC PROC W DRUG-ELUTING STENT W MCC OR 4+ VESSELS/STENTS     917
286 - CIRCULATORY DISORDERS EXCEPT AMI, W CARD CATH W MCC                      910
897 - ALCOHOL/DRUG ABUSE OR DEPENDENCE W/O REHABILITATION THERAPY W/O MCC      906
203 - BRONCHITIS & ASTHMA W/O CC/MCC                                           894
301 - PERIPHERAL VASCULAR DISORDERS W/O CC/MCC                                 877
698 - OTHER KIDNEY & URINARY TRACT DIAGNOSES W MCC                             874
419 - LAPAROSCOPIC CHOLECYSTECTOMY W/O C.D.E. W/O CC/MCC                       871
315 - OTHER CIRCULATORY SYSTEM DIAGNOSES W CC                                  859
473 - CERVICAL SPINAL FUSION W/O CC/MCC                                        846
917 - POISONING & TOXIC EFFECTS OF DRUGS W MCC                                 843
251 - PERC CARDIOVASC PROC W/O CORONARY ARTERY STENT W/O MCC                   727
885 - PSYCHOSES                                                                613
Name: DRG Definition, Length: 100, dtype: int64

In [7]:
#Count of Unique values within Provider State
df_cms["Provider State"].value_counts()

CA    13064
TX    11864
FL    11155
NY     9178
IL     7909
PA     7804
OH     7012
MI     5419
NC     5041
GA     4968
NJ     4826
VA     4332
IN     4260
TN     4168
MO     4059
MA     3842
AL     3635
MD     3330
KY     3229
LA     3027
AZ     2851
SC     2847
WI     2834
WA     2778
OK     2520
MS     2410
MN     2252
AR     2067
CT     2011
CO     1890
IA     1734
KS     1638
WV     1589
OR     1299
NV     1202
NE     1062
NM      917
ME      888
NH      823
UT      732
RI      588
ID      551
MT      506
SD      486
DC      462
HI      442
ND      422
DE      394
VT      270
WY      247
AK      231
Name: Provider State, dtype: int64

In [8]:
#Count of Unique values within Provider City
df_cms["Provider City"].value_counts()

CHICAGO           1505
BALTIMORE         1059
HOUSTON            950
PHILADELPHIA       898
BROOKLYN           877
SPRINGFIELD        807
COLUMBUS           792
LOS ANGELES        777
NEW YORK           746
DALLAS             717
LAS VEGAS          714
JACKSON            696
JACKSONVILLE       659
COLUMBIA           649
WASHINGTON         624
CINCINNATI         616
MIAMI              612
CLEVELAND          607
BOSTON             597
INDIANAPOLIS       596
PITTSBURGH         588
OKLAHOMA CITY      573
RICHMOND           560
PHOENIX            557
SAINT LOUIS        555
ROCHESTER          554
GREENVILLE         548
ATLANTA            542
BIRMINGHAM         542
PORTLAND           533
                  ...
SAN RAFAEL           2
KINDER               1
ELDRIDGE             1
TRANSFER             1
NORWAY               1
ROSEBUD              1
EAGLEVILLE           1
CHEROKEE             1
TROPHY CLUB          1
KNOX CITY            1
DILLEY               1
WOODLAND HILLS       1
HAMLIN               1
OAK FOREST           1
WHITFIELD            1
BIG BEAR LAKE        1
NANTUCKET            1
MC KINNEY            1
EDMOND               1
YUBA CITY            1
BRIGHAM CITY         1
CHEYENNE WELLS       1
ZUNI                 1
PARK CITY            1
BENSALEM             1
PINE RIDGE           1
SITKA                1
CATAWBA              1
COALINGA             1
MILAN                1
Name: Provider City, Length: 1977, dtype: int64

In [9]:
#Count of Unique values within Hospital Referral Region Description
df_cms["Hospital Referral Region Description"].value_counts()

CA - Los Angeles         3653
MA - Boston              2910
GA - Atlanta             2630
TX - Houston             2577
PA - Philadelphia        2554
TX - Dallas              2427
MO - St. Louis           2338
NY - East Long Island    2187
FL - Orlando             1975
TN - Nashville           1885
AL - Birmingham          1881
PA - Pittsburgh          1879
NY - Manhattan           1828
MD - Baltimore           1777
NJ - Camden              1708
IN - Indianapolis        1692
FL - Fort Lauderdale     1596
OH - Cleveland           1576
MO - Kansas City         1547
FL - Miami               1540
AZ - Phoenix             1519
IL - Chicago             1505
OH - Columbus            1464
WI - Milwaukee           1382
MN - Minneapolis         1373
DC - Washington          1333
NC - Charlotte           1324
KY - Lexington           1284
OK - Oklahoma City       1275
NY - Albany              1206
                         ...
IA - Waterloo             139
MI - Traverse City        138
IA - Sioux City           133
IL - Aurora               133
PA - Johnstown            131
TX - San Angelo           128
MI - Petoskey             126
TX - Wichita Falls        123
ND - Bismarck             122
UT - Ogden                122
VA - Lynchburg            121
CA - Santa Cruz           115
WY - Casper               113
IA - Dubuque              110
UT - Provo                106
SD - Rapid City           105
MI - Marquette            105
MI - St. Joseph           105
MN - St. Cloud             99
KY - Owensboro             97
IN - Muncie                96
MT - Great Falls           94
IA - Mason City            90
WI - Appleton              87
ID - Idaho Falls           85
OR - Salem                 85
OR - Bend                  85
WI - Neenah                83
ND - Grand Forks           80
ND - Minot                 64
Name: Hospital Referral Region Description, Length: 306, dtype: int64

<p>The table below shows a summary of the data from the columns; the column "Maximum Count." refers the unique value with the most amount counts, while "Minimum Count." refers to the unique value with the least amount counts.</p>

<table style="width:50%">
    <tr>
        <th>Column Name</th>
        <th>Number Unique Values</th>
        <th>Maximum Count</th>
        <th>Minimum Count</th>
    </tr>
    <tr>
        <td>DRG Definition</td>
        <td>100</td>
        <td>3023</td>
        <td>613</td>
    </tr>
    <tr>
        <td>Provider State</td>
        <td>50</td>
        <td>13064</td>
        <td>231</td>
    </tr>
    <tr>
        <td>Provider City</td>
        <td>1977</td>
        <td>1505</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Hospital Referral Region Description</td>
        <td>306</td>
        <td>3653</td>
        <td>64</td>
    </tr>
</table>

<p>We will add additional data to the table. First, we will add different regions use to group the states. These are the following groups that will use:</p>
<ol>
<li>Census Regions</li>
<li>Census Regions: Divisions</li>
<li>Federal Regions</li>
<li>Economic Analysis Region</li>
</ol>

<p>At this very beginning, there is no particular reason to add this data, other than aim for a deeper understanding of the data.</p>

<h5>Regions</h5>
<p>These are the lists of websites use to create the lists used for determining the regions of the states in the data entries</p>
<ol>
    <li><a href="https://en.wikipedia.org/wiki/List_of_regions_of_the_United_States">Wikipedia: List of regions of the United States.</a></li>
    <li></li>
</ol>

<h6>Regions: Census Regions</h6>

In [10]:
list_census_region =  { "NORTHEAST":["CT","ME","MA","NH","RI","VT","NJ","NY","PA"],
"MIDWEST":["IL","IN","MI","OH","WI","IA","KS, MN","MO","NE","ND","SD","KS","MN"],
"SOUTH": ["DE","FL","GA","MD","NC","SC","VA","DC","WV",
"AL","KY","MS","TN","AR","LA","OK","TX"],
"WEST":["AZ","CO","ID","MT","NV","NM","UT","WY","AK","CA","HI","OR","WA"]}

#Adding New Column to df_cms
df_cms["Census Region"] = np.nan

In [11]:
#addition of region to the df_cms 
for region in list_census_region.keys():
    for state in list_census_region[region]:
         df_cms.loc[df_cms["Provider State"] == state,'Census Region'] = region

<h6>Regions: Census Regions Divisions</h6>

In [12]:
list_census_region_division ={"D1_NEW_ENGLAND":["CT","ME","MA","NH","RI","VT"],
"D2_MID-ATLANTIC":["NJ","NY","PA"],
"D3_EAST_NORTH_CENTRAL":["IL","IN","MI","OH","WI"],
"D4_WEST_NORTH_CENTRAL":["IA","KS","MN","MO","NE","ND","SD"],
"D5_SOUTH_ATLANTIC":["DE","FL","GA","MD","NC","SC","VA","DC","WV"],
"D6_EAST_SOUTH_CENTRAL":["AL","KY","MS","TN"],
"D7_WEST_SOUTH_CENTRAL":["AR","LA","OK","TX"],
"D8_MOUNTAIN":["AZ","CO","ID","MT","NV","NM","UT","WY"],
"D9_PACIFIC":["AK","CA","HI","OR","WA"]}

#Adding New Column to df_cms
df_cms["Census Region Division"] = np.nan

In [13]:
#addition of region to the df_cms 
for division in list_census_region_division.keys():
    for state in list_census_region_division[division]:
         df_cms.loc[df_cms["Provider State"] == state,'Census Region Division'] = division

<h6>Regions: Federal Bank Regions</h6>

In [14]:
list_federal_regions = {"REGION_I":["CT","ME","MA","NH","RI","VT"],
"REGION_II":["NJ","NY", "PR","VI"],
"REGION_III":["DE","DC","MD","PA","VA","WV"],
"REGION_IV":["AL","FL","GA","KY","MS","NC","SC","TN"],
"REGION_V":["IL","IN","MI","MN","OH","WI"],
"REGION_VI":["AR","LA","NM","OK","TX"],
"REGION_VII":["IA","KS","MO","NE"],
"REGION_VIII":["CO","MT","ND","SD","UT","WY"],
"REGION_IX":["AZ","CA","HI","NV","AS","GU","MP","TRUST TERRITORY OF THE PACIFIC ISLANDS"],
"REGION_X":["AK","ID","OR","WA"]}

#Adding New Column to df_cms
df_cms["Federal Region"] = np.nan

In [15]:
#addition of region to the df_cms 
for fregion in list_federal_regions.keys():
    for state in list_federal_regions[fregion]:
         df_cms.loc[df_cms["Provider State"] == state,'Federal Region'] = fregion

<h6>Regions: Bureau Economic Analysis Regions</h6>

In [16]:
list_bureau_economic_analysis_regions = {"NEW ENGLAND":["CT","ME","MA","NH","RI","VT"],
"MIDEAST":["DE","DC","MD","NJ","NY","PA"],
"GREAT LAKES":["IL","IN","MI","OH","WI"],
"PLAINS":["IA","KS","MN","MO","NE","ND","SD"],
"SOUTHEAST":["AL","AR","FL","GA","KY","LA","MS","NC","SC","TN","VA","WV"],
"SOUTHWEST":["AZ","NM","OK","TX"],
"FAR WEST":["AK","CA","HI","NV","OR","WA"],
"ROCKY MOUNTAIN":["MT","ID","WY","UT","CO"]}

#Adding New Column to df_cms
df_cms["Economic Analysis Region"] = np.nan

In [17]:
#addition of region to the df_cms 
for eregion in list_bureau_economic_analysis_regions.keys():
    for state in list_bureau_economic_analysis_regions[eregion]:
         df_cms.loc[df_cms["Provider State"] == state,'Economic Analysis Region'] = eregion

In [18]:
df_cms.head()

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,Census Region,Census Region Division,Federal Region,Economic Analysis Region
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST
3,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10011,ST VINCENT'S EAST,50 MEDICAL PARK EAST DRIVE,BIRMINGHAM,AL,35235,AL - Birmingham,25,13998.28,5417.56,4129.16,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST
4,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10016,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,AL - Birmingham,18,31633.27,5658.33,4851.44,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST

In [19]:
path = "./datasets/df_cms.csv"
df_cms.to_csv(path, index=False)

In [20]:
#description of the df_cms groupby Census Region
df_census = df_cms.groupby('Census Region')
df_census.describe()

               Average Covered Charges                                        \
                                  count          mean           std      min
Census Region
MIDWEST                         39087.0  29394.802329  24557.687429  3611.13
NORTHEAST                       30230.0  37122.809323  37046.744791  3480.78
SOUTH                           67038.0  33361.241575  30287.765797  2459.40
WEST                            26710.0  51835.835582  49346.448254  4202.18

                                                             \
                      25%        50%         75%        max
Census Region
MIDWEST        14791.7650  21413.380  34653.9850  353773.72
NORTHEAST      14963.8300  25869.495  45427.5450  613926.60
SOUTH          15416.1700  23889.800  40136.3775  480539.69
WEST           23309.6725  37111.250  61667.6950  929118.90

               Average Total Payments                  ...    Provider Id  \
                                 count          mean   ...            75%
Census Region                                          ...
MIDWEST                        39087.0   9228.067950   ...       360012.0
NORTHEAST                      30230.0  10515.181198   ...       390037.0
SOUTH                          67038.0   8940.802094   ...       450035.0
WEST                           26710.0  11419.105410   ...       290019.0

                        Provider Zip Code                              \
                    max             count          mean           std
Census Region
MIDWEST        520207.0           39087.0  54190.802978   7764.057419
NORTHEAST      470024.0           30230.0  10473.877704   5501.042789
SOUTH          670077.0           67038.0  44150.178004  20534.180041
WEST           530033.0           26710.0  90696.704493   6770.702455


                   min      25%      50%      75%      max
Census Region
MIDWEST        43015.0  46947.0  53405.0  60901.0  69361.0
NORTHEAST       1040.0   6504.0  10708.0  15136.0  19610.0
SOUTH          19718.0  29550.0  34741.0  71301.0  79938.0
WEST           59101.0  86426.0  92103.0  95336.0  99835.0

[4 rows x 48 columns]

<p>Due to the results of the table, we will choose data from the cities of Baltimore Houston, Philadelphia and Brooklyn. The number of data entries with those cities do not differ more than 20% of the city with the most counts found and the city with the least counts found. However, the data select it is not a representative sample since it only represents about 2.3% of the total data.</p>

In [21]:
#We filter the dataset to those cities
#This is the list of cities
s_cities = ["BALTIMORE","HOUSTON","PHILADELPHIA","BROOKLYN"]
#This is the new dataframe 
df_cms_cities = pd.DataFrame()

#The for loop extracts all entries with the city on the list
for i in s_cities:
    df_cms_cities = pd.concat([df_cms_cities,df_cms.loc[df_cms["Provider City"] == i]])

In [22]:
df_cms_cities.describe()

,Provider Id,Provider Zip Code,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments
count,3784.000000,3784.000000,3784.000000,3784.000000,3784.000000,3784.000000
mean,339997.540698,32293.376586,47.273256,39837.074440,13728.255116,12478.325365
std,94188.699453,25878.868115,53.508714,41783.828649,10926.726877,10578.210920
min,210002.000000,11201.000000,11.000000,3415.270000,3216.470000,2243.690000
25%,210044.000000,19102.000000,18.000000,14868.057500,7301.147500,6257.312500
50%,330350.000000,21201.000000,31.000000,28120.765000,10228.275000,9183.170000
75%,390290.000000,39350.000000,55.000000,48100.262500,15783.217500,14599.527500
max,670077.000000,77094.000000,768.000000,613926.600000,95868.640000,84807.960000

<p>The first working dataset contains 3784 entries.</p>

<h6>Locations: Latitude and Longitude</h6>

<p>Many optiones were considered to create a script, however a stable running script that does not required an API KEY from any of the geodecoders available (such as google api or ARCGIS). The script was done by username EthanHicks1 and can be found in the following <a href="https://github.com/EthanHicks1/PythonBatchGeocoder">link</a>.</p>

<p>Afterwards a two new columns will be created in the main dataframe (df_cms), under the column "Provider Latitude" and "Provider Longitude". This is perform to allow to create a further analysis of the data.</p

In [23]:
df_latlon = pd.read_csv("./datasets/output163065.csv")

In [24]:
df_latlon.head(2)

,Unnamed: 0,Address,Lat,Long,Provider
0,0,"1108 ROSS CLARK CIRCLE, 36301, AL",31.215616,-85.361422,arcgis
1,1,"2505 U S HIGHWAY 431 NORTH, 35957, AL",34.221432,-86.159458,arcgis

In [25]:
df_latlon = df_latlon.drop(["Provider","Unnamed: 0","Address"],1)
df_latlon.columns = ["Provider Latitude","Provider Longitude"]

In [26]:
df_latlon.head(2)

   Provider Latitude  Provider Longitude
0          31.215616          -85.361422
1          34.221432          -86.159458

In [27]:
df_final = df_cms.join(df_latlon, how='outer')

In [28]:
df_final.head(3)

,DRG Definition,Provider Id,Provider Name,Provider Street Address,Provider City,Provider State,Provider Zip Code,Hospital Referral Region Description,Total Discharges,Average Covered Charges,Average Total Payments,Average Medicare Payments,Census Region,Census Region Division,Federal Region,Economic Analysis Region,Provider Latitude,Provider Longitude
0,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,91,32963.07,5777.24,4763.73,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST,31.215616,-85.361422
1,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10005,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,AL - Birmingham,14,15131.85,5787.57,4976.71,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST,34.221432,-86.159458
2,039 - EXTRACRANIAL PROCEDURES W/O CC/MCC,10006,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,AL - Birmingham,24,37560.37,5434.95,4453.79,SOUTH,D6_EAST_SOUTH_CENTRAL,REGION_IV,SOUTHEAST,34.795124,-87.685134

In [29]:
path = "./datasets/df_cms_location.csv"
df_final.to_csv(path, index=False)